@charset "UTF-8";
:root{
    --fonte: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    --cor0: #ffffff;
    --cor1: #789CCF;
    --cor2: #CFB178;
    --cor3: #7FCF78;
    --cor4: #a0cf9c;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
    box-sizing: border-box;
}
body{
    background-color: var(--cor1);
    height: 100vh;
    width: 100vw;
}
section#login{
    background-color: var(--cor0);
    width: 250px;   
    height: 520px;
    border-radius: 20px;
    margin-top: 50px;
    transition: 0.5s;
}
section h1{
    text-align: center;;
    margin-bottom: 10px;
}
#formulario{
    padding: 10px;
    display: block;
}
.campo input{
    height: 30px;
}
input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 38px;
    background-color: var(--cor3);
    border: none;
    border-radius: 10px;
}
input[type=submit]:hover{
    background-color: #598f54;
    cursor: pointer;
}
a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 38px;
    background-color: var(--cor0);
    border: 2px solid var(--cor3);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    margin-top: 5px;
    padding-top: 5px;
}
a.botao span{
    font-size: 0.8em;
}
a.botao:hover{
    background-color: var(--cor4);
}
#imagem{
    background: #789CCF url(../imgs/metal1.jpg);
    height: 200px;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    display: block;
}
.campo{
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 8px 0;
}
.campo input{
    width: 190px;
    margin-left: 6px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}